---
http_interactions:
- request:
    method: put
    uri: https://tripletex.no/v2/token/session/:create?consumerToken=<%= ENV['CONSUMER_SECRET'] %>&employeeToken=<%= ENV['EMPLOYEE_TOKEN'] %>&expirationDate=<%= (Time.now.to_date + 1).to_date.to_s %>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Frame-Options:
      - SAMEORIGIN
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '7'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "value" : {
            "id" : 12981,
            "version" : 0,
            "url" : "tripletex.no/v2/token/session/12981",
            "consumerToken" : {
              "id" : 3135,
              "url" : "tripletex.no/v2/token/consumer/3135"
            },
            "employeeToken" : {
              "id" : 603,
              "url" : "tripletex.no/v2/token/employee/603"
            },
            "expirationDate" : "<%= (Time.now.to_date + 1).to_date.to_s %>",
            "token" : "<%= ENV['SESSION_TOKEN'] %>",
            "encryptionKey" : null
          }
        }
  recorded_at: Wed, 27 Sep 2017 17:48:33 GMT
recorded_with: VCR 3.0.3
