---
http_interactions:
- request:
    method: get
    uri: https://tripletex.no/v2/token/session/%3EwhoAmI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Frame-Options:
      - SAMEORIGIN
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"status":401,"code":3000,"message":"Unauthorized","link":null,"developerMessage":"Could
        not log in. The Authorization header is missing.","validationMessages":null,"requestId":"d1d34bba-467b-4ba1-b223-a46ac4cd46b4"}'
  recorded_at: Wed, 27 Sep 2017 18:21:57 GMT
- request:
    method: put
    uri: https://tripletex.no/v2/token/session/:create?consumerToken=<%= ENV['CONSUMER_SECRET'] %>&employeeToken=<%= ENV['EMPLOYEE_TOKEN'] %>&expirationDate=<%= (Time.now.utc.to_date + 1).to_s %>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Frame-Options:
      - SAMEORIGIN
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '2'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "value" : {
            "id" : 12993,
            "version" : 0,
            "url" : "tripletex.no/v2/token/session/12993",
            "consumerToken" : {
              "id" : 3135,
              "url" : "tripletex.no/v2/token/consumer/3135"
            },
            "employeeToken" : {
              "id" : 603,
              "url" : "tripletex.no/v2/token/employee/603"
            },
            "expirationDate" : "<%= (Time.now.utc.to_date + 1).to_s %>",
            "token" : "72a4e9a3-2dc4-4b36-aa69-329e8aaba7bf",
            "encryptionKey" : null
          }
        }
  recorded_at: Wed, 27 Sep 2017 18:21:57 GMT
- request:
    method: get
    uri: https://tripletex.no/v2/token/session/%3EwhoAmI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDo3MmE0ZTlhMy0yZGM0LTRiMzYtYWE2OS0zMjllOGFhYmE3YmY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Frame-Options:
      - SAMEORIGIN
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '2'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "value" : {
            "employeeId" : 1133333,
            "companyId" : 3795625
          }
        }
  recorded_at: Wed, 27 Sep 2017 18:21:57 GMT
- request:
    method: delete
    uri: https://tripletex.no/v2/token/session/72a4e9a3-2dc4-4b36-aa69-329e8aaba7bf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDo3MmE0ZTlhMy0yZGM0LTRiMzYtYWE2OS0zMjllOGFhYmE3YmY=
  response:
    status:
      code: 204
      message: No Content
    headers:
      Frame-Options:
      - SAMEORIGIN
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '98'
      X-Rate-Limit-Reset:
      - '2'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Sep 2017 18:21:58 GMT
- request:
    method: get
    uri: https://tripletex.no/v2/token/session/%3EwhoAmI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Frame-Options:
      - SAMEORIGIN
      Content-Type:
      - application/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: '{"status":401,"code":3000,"message":"Unauthorized","link":null,"developerMessage":"Could
        not log in. The Authorization header is missing.","validationMessages":null,"requestId":"47df05fd-fef1-410b-a132-efb815fa9c9d"}'
  recorded_at: Wed, 27 Sep 2017 18:21:58 GMT
recorded_with: VCR 3.0.3
