---
http_interactions:
- request:
    method: get
    uri: https://tripletex.no/v2/order/23432678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDpiNWM3ODNkMC01YjBhLTRiZjItODEyNi1mNGNmYWE4ZWE2ZWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Frame-Options:
      - SAMEORIGIN
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '4'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "value" : {
            "id" : 23432678,
            "version" : 0,
            "url" : "tripletex.no/v2/order/23432678",
            "customer" : {
              "id" : 6221272,
              "url" : "tripletex.no/v2/customer/6221272"
            },
            "contact" : null,
            "attn" : null,
            "receiverEmail" : "",
            "overdueNoticeEmail" : "",
            "number" : "1",
            "reference" : "",
            "ourContactEmployee" : {
              "id" : 1158417,
              "url" : "tripletex.no/v2/employee/1158417"
            },
            "department" : null,
            "orderDate" : "2017-09-13",
            "project" : null,
            "invoiceComment" : "",
            "currency" : {
              "id" : 1,
              "url" : "tripletex.no/v2/currency/1"
            },
            "invoicesDueIn" : 14,
            "invoicesDueInType" : "DAYS",
            "isShowOpenPostsOnInvoices" : false,
            "isClosed" : false,
            "deliveryDate" : "2017-09-13",
            "deliveryAddress" : null,
            "deliveryComment" : "",
            "isPrioritizeAmountsIncludingVat" : false,
            "orderLineSorting" : "PRODUCT",
            "orderLines" : [ {
              "id" : 41516052,
              "url" : "tripletex.no/v2/order/orderline/41516052"
            }, {
              "id" : 41516053,
              "url" : "tripletex.no/v2/order/orderline/41516053"
            } ],
            "isSubscription" : false,
            "subscriptionDuration" : 1,
            "subscriptionDurationType" : "MONTHS",
            "subscriptionPeriodsOnInvoice" : 1,
            "subscriptionPeriodsOnInvoiceType" : "MONTHS",
            "subscriptionInvoicingTimeInAdvanceOrArrears" : "ADVANCE",
            "subscriptionInvoicingTime" : 0,
            "subscriptionInvoicingTimeType" : "MONTHS",
            "isSubscriptionAutoInvoicing" : false
          }
        }
  recorded_at: Wed, 27 Sep 2017 19:11:25 GMT
recorded_with: VCR 3.0.3
