---
http_interactions:
- request:
    method: get
    uri: https://tripletex.no/v2/order/23432677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDpiNWM3ODNkMC01YjBhLTRiZjItODEyNi1mNGNmYWE4ZWE2ZWE=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Frame-Options:
      - SAMEORIGIN
      X-Rate-Limit-Limit:
      - '100'
      X-Rate-Limit-Remaining:
      - '99'
      X-Rate-Limit-Reset:
      - '3'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 401,
          "code" : 9000,
          "message" : "Attempt to read unauthorized object.",
          "link" : null,
          "developerMessage" : null,
          "validationMessages" : null,
          "requestId" : "9a34b97c-f32d-451e-84a7-253ee809e8bf"
        }
  recorded_at: Wed, 27 Sep 2017 19:13:57 GMT
recorded_with: VCR 3.0.3
